$claresta-font-path: "../../font/claresta" !default;

@font-face {
	font-family: "Claresta";
	src: url("#{$claresta-font-path}/ClarestaRegular.woff2") format("woff2"),
		url("#{$claresta-font-path}/ClarestaRegular.woff") format("woff"),
		url("#{$claresta-font-path}/ClarestaRegular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
